# --- Archivos de Base de Datos ---
*.sqlite3
db.sqlite3

# Backups y datos
*.json
backups/
datadump.json

# --- Archivos compilados de Python---
*.pyc
__pycache__/
*.py[cod]

# --- Entornos Virtuales ---
venv/
env/
.env

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

*/migrations/__pycache__/


